body {
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/17/47/shopping-cart-152462__340.png);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;}
header{text-align: center; 
font-size: 50px}
article {
    border: 1px solid silver;
    padding: 5px;
    background-color: #f999;
    text-align: center;
	margin: 5px auto;
    
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section {
    text-align: center;
}
img {
	max-width: 100%;
	height: auto;}
	p{display: inline-flex;
		align-self: auto;}

	